// Specific CSS for your home-page

.banner {
  background-image: url(https://images.unsplash.com/photo-1533928298208-27ff66555d8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80);
  background-size: cover;
  height: 43em;
  opacity: 0.9;
}

.header {
  color: black;
  text-align: center;
  padding: 210px;
  h1 {
    font-weight: bold;
    font-size: 55px;
  }
}
.list-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .list-items {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .list-items {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .list-items {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .list-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .list-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
